.header {
    display: flex;
    justify-content: space-between;
    background-color: #13213c;
    width:100%;
}

.logo {
    width: 8rem;
    margin: 1.2rem;
    margin-left: 5rem;
}

.header-button-section {
    display: flex;
    align-self: center;
    margin-right: 5rem;
}

@media (max-width: 430px) {
    .logo {
        width: 8rem;
        margin: 1.2rem;
        margin-left: 1rem;
    }

    .header-button-section {
        display: flex;
        align-self: center;
        margin-right: 1rem;
    }
}

.btn {
    font-size: 2rem;
    margin: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 1.2rem;
    border:none;
    background-color: #F0C808;
    text-decoration: none;
}

.username {
    align-self: center;
    color:aliceblue;
    padding-right: 2rem;
}