.link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.container {
  width: fit-content;
  background-color: #13213c;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 1.5rem 1.5rem;
  transition: all 1s;
}

.container button {
  display: none;
}

.hovered-container button:hover {
    transform: scale(1.1);
}

.hovered-container {
  width: fit-content;
  background-color: #13213c;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 1.5rem 1.5rem;
  animation-name: onHoverContainer;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.hovered-container button {
    display: block;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    color: aliceblue;
    border-style: none;
    animation-name: onButtonEnter;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    transition: all 0.3s;
}

@keyframes onButtonEnter {
    0%{
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    100%{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@keyframes onHoverContainer {
  0% {
    height: 100%;
  }
  100% {
    height: 110%;
  }
}

.logo {
  width: 8rem;
  margin: 1rem;
}

.name {
  display: block;
  color: aliceblue;
  margin: 0 1.5rem;
  margin-bottom: 1rem;
}

.remove-button {
  background-color: rgb(228, 6, 6);
}

.update-button {
  background-color: aqua;
  margin-bottom: 1rem;
}
